// Routes transitions
.page-enter-active, .page-leave-active {
  transition: opacity .5s
}
.page-enter, .page-leave-active {
  opacity: 0
}

// Utility classes
.border {
  &-10 {
    border-radius: 10px !important;
  }
  &-15 {
    border-radius: 15px !important;
  }
  &-20 {
    border-radius: 20px !important;
  }
}